<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap.min.css') }}"/>
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% if current_user %}
      <nav class="navbar navbar-custom">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand"><a href="/">SharedSolar Minigrid Management</a></span>
          </div>
          <ul class="nav navbar-nav navbar-left">
            <li id="user-greeting">
              Hi {{ current_user.email }}
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="logout">
              <form action="/logout" method="POST">
                {% module xsrf_form_html() %}
                <input id="logout" type="submit" value="Log Out" />
              </form>
            </li>
          </ul>
        </div>
      </nav>
      
      {% end %}
    <div>
      {% block body %}{% end %}
    </div>
  </body>
</html>
