{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid notification-alert">
  </div>
  <div class="full-page-content">
    <div class="center-wrap">
      {% if message is not None %}
        <p><strong>{{ message }}</strong></p>
      {% end %}
      <h2>Read and validate cards:</h2>
      <div class="card-info">
        <div class="card-info-header">
          <span>Card Info</span>
        </div>
      </div>
      <div>
        <form action="/cards" method="POST">
          {% module xsrf_form_html() %}
          <input type="hidden" name="action" value="write" />
          {% if device_active %}
            <input class="card-value" type="submit" value="Erase card" />
          {% else %}
            <input class="card-value" type="submit" value="Erase card" title="Touch card to reader" disabled/>
          {% end %}
        </form>
      </div>
    </div>
  </div>
  <footer><a href="/">&laquo; Return to minigrid index</a></footer>

  <script>
    var http_protocol = '{{ http_protocol }}';
  </script>
  <script type="text/javascript" src="{{ static_url('dist/write_card.bundle.js') }}"></script>

{% end %}
