{% extends 'base.html' %}

{% block body %}
  {% if message is not None %}
    <p><strong>{{ message }}</strong></p>
  {% end %}
  <div class="box-container">
    <div class="content-box">
      <h3>Devices:</h3>
      <ul>
        {% set zero_devices = True %}
        {% for device in devices %}
          {% set zero_devices = False %}
          <li>
            <p>{{ device.address.hex() }}</p>
          </li>
        {% end %}
      </ul>
      {% if zero_devices %}
        <p>No devices</p>
      {% end %}
    </div>
    <div class="content-box">
    <h3>Add device:</h3>
      <form action="/device" method="POST">
        {% module xsrf_form_html() %}
	{% include device_form.html %}
      </form>
    </div>
  </div>
  <footer><a href="/">&laquo; Return to minigrid index</a></footer>
{% end %}
