{% extends 'base.html' %}

{% block body %}
  {% if message is not None %}
    <p><strong>{{ message }}</strong></p>
  {% end %}
  <div class="box-container">
    <div class="contentbox">
      <h3>Devices:</h3>
      <ul>
        {% set zero_devices = True %}
        {% for device in devices %}
          {% set zero_devices = False %}
          <li>
            <p>{{ device.address.hex() }}</p>
          </li>
        {% end %}
      </ul>
      {% if zero_devices %}
        <p>No devices</p>
      {% end %}
    </div>
    <div class="contentbox">
    <h3>Add device:</h3>
      <form action="/device" method="POST">
        {% module xsrf_form_html() %}
        <label>Device address: <input name="device_address" pattern="[a-fA-F\d]{12}" required title="12 hex digits" /></label><br>
        <input type="submit" value="Add device" />
      </form>
    </div>
  </div>
  <footer><a href="/">&laquo; Return to minigrid index</a></footer>
{% end %}
