{% extends 'base.html' %}

{% block body %}

<div class="minigrid-index">

  <div class="contentbox">
    <p>Minigrids:</p>
    <ul>
      {% set zero_minigrids = True %}
      {% for grid in minigrids %}
        {% set zero_minigrids = False %}
        <li>
          <p><a href="/minigrids/{{ grid.minigrid_id }}">
          <b>{{ grid.minigrid_name }} &raquo;</b></a></p>
        </li>
      {% end %}
    </ul>
    {% if zero_minigrids %}
      <p>No minigrids</p>
    {% end %}
  </div>

  <div class="contentbox">

    {% if message is not None %}
    <p><strong>Could not create minigrid: {{ message }}</strong></p>
    {% end %}
    <p>Add minigrid:</p>
    <form action="/minigrids" method="POST">
      {% module xsrf_form_html() %}
      <label>Name: <input name="minigrid_name" required /></label><br>
      <label>AES key: <input name="minigrid_aes_key" required /></label><br>
      <input type="submit" value="Add Minigrid" />
    </form>

  </div>
</div>

<nav class="sidebar">
  <ul>
    <li><a href="/users">&laquo; Manage users</a>

{% if not system %}
    
  </ul>
  <div id="tariff-message">You must initialize the system tariff information.</div>
</nav>

  <div class="content" id="tariff-form">
      <form action="/tariffs" method="POST">
        {% module xsrf_form_html() %}
        {% include tariff_form.html %}
      </form>
  </div>

{% else %}

    <li><a href="/tariffs">&laquo; Manage tariffs</a></li>
    <!-- <li><a href="/technician">Write technician ID card &raquo;</a></li> -->
    <li><a href="/device">&laquo; Manage devices</a></li>
    <li><a href="/cards">&laquo; Read and validate cards</a></li>
  </ul>
</nav>


    <!-- <p>Aggregate data plots:</p>
    <p>TODO: What data? From where?</p> -->
{% end %}
{% end %}
