{% extends 'base.html' %}

{% block body %}
<div class="full-page-content">
	<h2>User Manual - Operator Interface</h2>
	<p />

	<div class="manual" id="contents">
		<h3><b>Table of Contents:</b></h3>
		<p>
			<b>System Management</b>
			<br /><a href="#manage-users">1. Manage users</a>
			<br /><a href="#tariff-info">2. Manage tariffs</a>
			<br />&emsp;<a href="#adding-tariff">2.1 Initialize tariff information</a>
			<br />&emsp;<a href="#updating-tariff">2.2 Update tariff information</a>
			<br /><a href="#devices">3. Manage devices</a>
			<br /><a href="#read-cards">4. Read and validate cards</a>
			<br /><a href="#add-minigrid">5. Add minigrid</a>
		</p>
		<p>
			<b>Minigrid Management</b>
			<br /><a href="#add-user">6. Manage vendors and customers</a>
			<br />&emsp;<a href="#add-user">6.1 Adding vendors and customers</a>
			<br />&emsp;<a href="#id-cards">6.2 Writing vendor and customer ID cards</a>
			<br /><a href="#credit-cards">7. Writing credit cards</a>
		</p>
	</div>

	<div class="manual" id="manage-users">
		<p><b>Manage Users:</b></p>
		<p>
			Operators can grant access to the management interface by accessing the 'Manage users' page on the sidebar.
			<br />
			<img src="{{ static_url('img/sidebar2.png') }}" style="width:300px;">
		</p>
		<p>
			Once on the page, a list of added users will display on the left.
			<br />
			On the right, there is a form to add a new user. Enter the user's email address. Then click <b>'Add user'</b> below.
			<br />
			<img src="{{ static_url('img/newuser.png') }}" style="width:200px;">
		</p>
		<p>
			The newly added user should display in the list on the left. They may now attempt to log-in to the interface.
		</p>
	</div>

	<div class="manual" id="tariff-info">
		<p><b>Adding or Updating Tariff Information:</b></p>
		<p>
			Operators must add the system tariff information. The tariff form can be found by clicking the 'Manage tariffs' tab on the homepage sidebar.
			<br />
			<img src="{{ static_url('img/sidebar3.png') }}" style="width:300px;">
		</p>

		<p id="adding-tariff"><b>Adding Tariff Information:</b></p>
		<p>
			If the tariff information has not been initialized, operators will be prompted with an empty form. The tariff activation date and time will default to the current date and time.
			<br />
			<img src="{{ static_url('img/emptytariff.png') }}" style="width:400px;">
		</p>
		<p>
			When initializing or updating the tariff information, the daytime tariff and nighttime tariff should be specified in Ugandan shillings per watt-hour.
		</p>
		<p>
			To add or update the tariff activation date and time, click the currently displayed date and time. A calendar will display with a formatted time below it. Choose the day of activation from the calendar, then below, choose the activation time.
			<br />
			<img src="{{ static_url('img/calendar.png') }}" style="width:500px;">
		</p>
		<p>
			The start-time for both the daytime and nighttime tariff, as well as the tariff activation time, should be given based on a 24-hour clock format, corresponging to UTC/GMT. (For example, the operator would specify 17 to refer to 17:00 GMT, or 5:00 PM GMT).
		</p>
		<p>
			Click <b>'Initialize Tariff Information'</b> to save the information. Once saved, the message 'Updated tariff information' should appear at the top of the page, and the form should auto-fill with the current tariff information anytime the operator visits the tariff page.
			<br />
		</p>
		<br />
		<p id="updating-tariff"><b>Updating Tariff Information:</b></p>
		<p>
			To update the tariff information, simply fill out the same form, which should be pre-filled with the existing information. Enter the new values, then click <b>'Update Tariff Information'</b>. The message 'Updated tariff information' should appear at the top of the page, and the previous information should now be written over.
			<br />
			<img src="{{ static_url('img/updatedtariffform.png') }}" style="width:400px;">
		</p>
	</div>

	<div class="manual" id="devices">
		<p><b>Manage Devices:</b></p>
		<p>
			Operators can add new devices by accessing the 'Manage devices' page on the sidebar.
			<br />
			<img src="{{ static_url('img/sidebar4.png') }}" style="width:300px;">
		</p>
		<p>
			A list of added devices should display on the left.
			<br />
			On the right, there is a form to add a new device. Enter in the device address to be added. The address must be 12 characters long.
			<br />
			<img src="{{ static_url('img/devices.png') }}" style="width:600px;">
			<br />
			Click the <b>'Add device'</b> button. The newly added device should appear on the list at the left of the page.
		</p>
	</div>

	<div class="manual" id="read-cards">
		<p><b>Read and validate cards:</b></p>
		<p>
			Operators can check the information on all cards (ID cards or credit cards) by accessing the 'Read and validate cards' page on the sidebar.
			<br />
			<img src="{{ static_url('img/sidebar5.png') }}" style="width:300px;">
		</p>
		<p>
			To read credit cards, simply put the card on the reader.
			<br />
			If there is no card information being read, the user will be prompted to check if there is a card on the device.
			<br />
			<img src="{{ static_url('img/nocard.png') }}" style="width:400px;">
			<br />
			Once the device reads the card, the card information should display on the screen.
			<br />
			<img src="{{ static_url('img/creditcard.png') }}" style="width:400px;">
		</p>
	</div>

	<div class="manual" id="add-minigrid">
		<p><b>Add Minigrids:</b></p>
		<p>
			Operators can add new minigrids to the system.
			<br />
			A list of existing minigrids and an 'Add minigrid' form should display on the home screen after logging in.
			<br>
			<img src="{{ static_url('img/addminigrid.png') }}" style="width:500px;">
			This page can also be found by clicking 'SharedSolar Minigrid Management' on the header.
			<br>
			<img src="{{ static_url('img/header.png') }}" style="width:300px;">
		</p>
		<p>
			To add a minigrid, fill out the 'Add minigrid' form, including the desired name for the minigrid and the payment system ID. The payment system ID must correspond to an already existing payment system.
		</p>
		<p>
			After the form has been filled out, click the <b>'Add minigrid'</b> button below the form. The newly added minigrid should display on the minigrid list to the left of the page.
		</p>
	</div>

	<div class="manual" id="add-user">
		<p><b>Adding new Vendors and Customers:</b></p>
		<p>Operators can add new vendors and customers specific to minigrids.</p>
		<p>On the homepage, click on the minigrid the new vendor/customer will be added to.
		</p>
		<p>
			Once on the minigrid index page, click either 'vendor list' or 'customer list', depending on the type of user to be added.
			<br />
			<img src="{{ static_url('img/vendorlist2.png') }}" style="width:200px;">
		</p>
		<p>
			On the provided form, add the vendor/customer name and ID.
			The ID must be 4 numbers long and must be unique (it cannot have been used before for another ID card).
			<br />
			<img src="{{ static_url('img/addcustomerbefore.png') }}" style="width:300px;">
			<br />
			After entering the information, press the <b>'Add Vendor'</b> or <b>'Add Customer'</b> button on the bottom of the form.
		</p>
		<p>
			The new user should appear on the list of vendors/customers.
			<br />
			<img src="{{ static_url('img/addcustomerafter.png') }}" style="width:300px;">

		</p>
	</div>

	<div class="manual" id="id-cards">
		<p><b>Writing Vendor and Customer ID cards:</b></p>
		<p>
			Operators can write new vendor ID cards by accessing the vendor list page or write new customer ID cards accessing the customer or vendor list page of the respective minigrid.
			<br />
			<img src="{{ static_url('img/vendorlist2.png') }}" style="width:200px;">
		</p>
		<p>
			First, make sure the user has been <a href="#add-user">added to the system</a>. An existing user should be displayed in the list of vendors or customer on the respective pages.
		</p>
		<p>
			To write ID cards, put a card on the card reader device.
			Either a blank card or a card that already contains information can be used.
			A message stating that the card is blank or the existing card information should display on the screen.
		</p>
		<p>
			<b>Note: If the card being used has previously been writing and contains information, proceeding to write an ID card will write over the existing information on the card.</b>
		</p>
		<p>
			Find the existing user in the vendors/customers list. Then press the <b>'Write ID card'</b> button directly below the user's listing.
			<br />
			<img src="{{ static_url('img/writecustomer.png') }}" style="width:350px;">
		</p>
		<p>
			The ID card has now been written, and the newly added card information should display on the screen.
			<br />
			<img src="{{ static_url('img/customeridcard.png') }}" style="width:400px;">
		</p>
	</div>

	<div class="manual" id="credit-cards">
		<p><b>Writing credit cards:</b></p>
		<p>
			Operators can write new credit cards by accessing the 'Write credit card' page of the respective minigrid.
			<br />
			<img src="{{ static_url('img/vendorlist3.png') }}" style="width:200px;">
		</p>
		<p>
			To write credit cards, put a card on the card reader device.
			Either a blank card or a card that already contains information can be used.
			A message stating that the card is blank or the existing card information should display on the screen.
		</p>
		<p>
			<b>Note: If the card being used has previously been writing and contains information, proceeding to write the credit card will write over the existing information on the card.</b>
		</p>
		<p>
			If there is no card information being read, the user will be prompted to check if there is a card on the device. A user cannot write a credit card until a valid card is placed on the device.
			<br />
			<img src="{{ static_url('img/nocard.png') }}" style="width:400px;">
			<br />
			Once the device reads the card, a <b>'Write credit card'</b> button will appear below the input box of the credit form. Enter the credit amount to be added to the card, then click the <b>'Write credit card'</b> button on below the credit input form.
			<br />
			<img src="{{ static_url('img/writecreditcard.png') }}" style="width:300px;">
		</p>
		<p>
			The 'Card written' message should display at the top of the page. The ID card has now been written, and the newly added card information should display on the screen.
			<br />
			<img src="{{ static_url('img/creditcard.png') }}" style="width:400px;">
		</p>
		<p>
			<b>Note: The credit card will expire 60 days after it is written.</b>
		</p>
	</div>

<footer><a href="/">&laquo; Return to minigrid index</a></footer>

{% end %}
