{% extends 'base.html' %}

{% block body %}
<div>
  {% if message is not None %}
    <p><strong>{{ message }}</strong></p>
  {% end %}
  <h3>Tariff information:</h3>
  <form id="tariffs" action="/tariffs" method="POST">
    {% module xsrf_form_html() %}
  {% try %}
    {% if system is None %}
      {% include tariff_form.html %}
    {% else %}
      <fieldset>
        <label>Daytime tariff:</label>
        <input type="number" step="any" min="0" value="{{ system.day_tariff }}" name="day_tariff" required /> USh/Wh
        </fieldset>
      <fieldset>
        <label>Daytime start hour:</label>
        <input type="number" step="1" min="0" max="23" value="{{ system.day_tariff_start }}" name="day_tariff_start" required />
      </fieldset>
      <fieldset>
        <label>Daytime start hour 2:</label>
        <input type="text" id="time" data-format="HH:mm" data-template="HH : mm" name="datetime">
      </fieldset>
      <fieldset>
        <label>Nighttime tariff:</label>
        <input type="number" step="any" min="0" name="night_tariff" value="{{ system.night_tariff }}" required />
      </fieldset>
      <fieldset>
        <label>Nighttime start hour:</label>
        <input type="number" step="1" min="0" max="23" value="{{ system.night_tariff_start }}" name="night_tariff_start" required />
      </fieldset>
      <fieldset>
        <label>Tariff activation date and time:</label>
        <input type="datetime-local" name="tariff_activation_timestamp" />
      </fieldset>
        <input type="submit" value="Update Tariff Information"/>
    {% end %}
  {% except NameError %}
    {% include tariff_form.html %}
  {% end %}
  </form>
  <footer><a href="/">&laquo; Return to minigrid index</a></footer>
{% end %}
