{% extends 'base.html' %}

{% block body %}
  {% if message is not None %}
    <p><strong>{{ message }}</strong></p>
  {% end %}
  <p>Tariff information:</p>
  <form action="/tariffs" method="POST">
    {% module xsrf_form_html() %}
  {% try %}
    {% if system is None%}
      {% include tariff_form.html %}
    {% else %}
      <label>Daytime tariff: <input type="number" step="any" min="0" value="{{ system.day_tariff }}" name="day_tariff" required /></label><br>
      <label>Daytime start hour: <input type="number" step="1" min="0" max="23" value="{{ system.day_tariff_start }}" name="day_tariff_start" required /></label><br>
      <label>Nighttime tariff: <input type="number" step="any" min="0" name="night_tariff" value="{{ system.night_tariff }}" required /></label><br>
      <label>Nighttime start hour: <input type="number" step="1" min="0" max="23" value="{{ system.night_tariff_start }}" name="night_tariff_start" required /></label><br>
      <input type="submit" value="Update Tariff Information" />
    {% end %}
  {% except NameError %}
    {% include tariff_form.html %}
  {% end %}
  </form>
  <footer><a href="/">&laquo; Return to minigrid index</a></footer>
{% end %}
