<label>Daytime tariff: <input type="number" step="any" min="0" name="day_tariff" required /></label><br>
<label>Daytime start hour: <input type="number" step="1" min="0" max="23" value="6" name="day_tariff_start" required /></label><br>
<label>Nighttime tariff: <input type="number" step="any" min="0" name="night_tariff" required /></label><br>
<label>Nighttime start hour: <input type="number" step="1" min="0" max="23" value="18" name="night_tariff_start" required /></label><br>
<input type="submit" value="Initialize Tariff Information" />
