{% extends 'base.html' %}

{% block body %}
  <p>Users:</p>
  <ul>
    {% for user in users %}
    <li>
      <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    </li>
    {% end %}
  </ul>
  <p>Add user account:</p>
  <form action="{{ request.uri }}" method="POST">
    {% module xsrf_form_html() %}
    <label>E-mail: <input type="email" name="email" /></label>
    <input type="submit" value="Add User" />
  </form>
  {% if reason is not None %}
  <p><strong>Could not create user account: {{ reason }}</strong></p>
  {% end %}
  <footer><a href="/">&laquo; Return to minigrid index</a></footer>
{% end %}
