@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
	background-color: rgb(242, 242, 242);
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

a {
    /*color: rgba(241, 19, 19, 0.6);*/
    color: #2793A2;
    font-weight: 600;
}

a:hover {
    color: #7ACCD7;
    text-decoration: none;
}

h3 {
    margin: 20px 0px;
}

footer {
    margin: 20px 0px;
}

input[type="submit"] {
    background-color: #2C3031;
    border-color: #232828;
    border-radius: 3px;
    color: white;
    padding: 4px 10px;
    margin-top: 10px;
}

input {
    height: 35px;
}

form {
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
}

form>fieldset {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

form>fieldset>input,
form>fieldset>span>select {
    padding-left: 5px;
    margin-left: 20px;
    width: 150px;
}

form>fieldset>span {
    height: 35px;
}

form>input[type="submit"] {
    margin: 10px auto;
    display: block;
}


/* NAVBAR */
.navbar-custom {
	background-color: rgba(0,0,0,0.8);
    color: #FFFFFF;
    border-radius: 0px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
}

.nav>li {
    padding: 15px 0px;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.4);
}

li#user-greeting {
    color: #d9d9d9;
    position: relative;
    display: block;
    padding-left: 30px;
}

li#logout {
    padding: 0px;
    font-weight: 600;
}

input#logout {
    background-color: rgba(0,0,0,0.7);
    padding: 15px 25px;
    border: none;
    border-radius: 0px;
    margin: 0px;
    height: auto;
}

input#logout:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.8);
}


/* SIDEBAR */
.sidebar {
    background-color: #3d3737;
    width: 300px;
    min-height: 100%;
    margin-top: -30px;
    position: absolute;
    right: 0%;
}

.sidebar>ul {
    list-style-type: none;
    padding-left:0;
}

.sidebar>ul>li {
    background-color: #4e4545;
    border-bottom: solid 3px;
}

.sidebar>ul>li>a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
}

#tariff-message {
    color: white;
    font-weight: 700px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}


/*CONTENT*/
.minigrid-index {
    margin-right: 300px;
    padding-left: 30px;
    position: relative;
	display: flex;
}

.content {
    padding-left: 50px;
    padding-top: 10px;
}

.box-container {
    display: flex;
}

.contentbox {
	width: 33%;
	padding: 2%;
    margin: 0px 10px;
	color: rgba(0,0,0,0.8);
}

form#minigrid {
    width: 250px;
}
